<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% if @projects.empty? %>
  <p> You don't have any projects </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:details) %></th>
        <th><%= model_class.human_attribute_name(:expected_completion_date) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, tenant_project_path(tenant_id: @tenant.id, id: project.id)  %></td>
          <td><%= project.details %></td>
          <td><%= project.expected_completion_date %></td>
          <td>
            <%= link_to "Edit", edit_tenant_project_path(project, tenant_id: @tenant.id), :class => 'btn btn-warning btn-sm' %>
            <%= link_to "Delete",
                        tenant_project_path(project, tenant_id: @tenant.id),
                        :method => :delete,
                        :data => { :confirm => "Are you sure?" },
                        :class => 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @tenant.can_create_more_projects? %>
  <%= link_to "New Project", new_tenant_project_path(tenant_id: @tenant.id), :class => 'btn btn-primary' %>
<% end %>
